[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A Linux only tool for TPM interaction
[access "refs/*"]
	owner = group user/srcUp
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/srcUp
	label-Verified = -1..+1 group user/srcUp
	push = group user/srcUp
	read = group user/srcUp
	rebase = group user/srcUp
	removeReviewer = group user/srcUp
	submit = group user/srcUp
[access "refs/heads/*"]
	create = group user/srcUp
	push = +force group user/srcUp
	pushMerge = group user/srcUp
	read = group user/srcUp
[access "refs/tags/*"]
	push = group user/srcUp
	push = +force group user/srcUp
